/* COLORI */

:root{
    --color-p: rgb(0, 90, 149);
    --color-s: rgb(239, 170, 66);
    --color-sn: rgb(0, 0, 255);
    --color-a: rgb(255, 255, 255);
}

.color-p{
    color: var(--color-p);
}
.color-s{
    color: var(--color-s);
}
.color-a{
    color: var(--color-a);
}

.color-sn{
    color: var(--color-sn);
}

.bg-p{
    background-color: var(--color-p);
}
.bg-s{
    background-color: var(--color-s);
}
.bg-a{
    background-color: var(--color-a);
}

/* FONTS */

.title {
    font-family: "Electrolize", serif;
}

.pressStart2P {
    font-family: "Press Start 2P", serif;
}

* {
    font-family: "Roboto", serif;
}

.transition{
    transition: .7s;
}

body{
    background-color: var(--color-p);
}


/* HOMEPAGE -------------------------- */ 


/* NAVBAR */

.nav-link{
    font-size: larger;
    color: var(--color-s);
    text-shadow: 1px 1px var(--color-a), 1px 1px var(--color-a);
}

.nav-scrolled{
    backdrop-filter: blur(7px);
    border: 2px solid var(--color-a);
    border-radius: 10px;
    margin: 5vh 15vw;
}

/* HEADER */

.bg-header{
    background-image: linear-gradient(transparent,var(--color-p)), url(./media/cryptocurrency.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainTitle{
    font-size: 70px;
    color: var(--color-s);
    text-shadow:1px 1px white, -1px -1px white,  3px 3px 20px var(--color-a), 5px 5px 10px var(--color-sn);
    margin-top: 120px;
    margin-left: 45px;
}

.subtitleMain{
    font-size: 50px;
    color: var(--color-a);
    text-shadow: 1px 1px var(--color-s), -1px -1px var(--color-s);
    margin-left: 90px;
}

/* SEZIONE CATEGORIE */

.bg-category{
    min-height: 70vh;
}

.boxCategory{
    border: 2px solid var(--color-a);
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 86, 141, 0.313);
}

.ethlogo {
    width: 200px;
    height: 200px;
}

.btcanimato {
    width: 50vh;
    height: 25vw;
    margin-top: 6vh;
    margin-left: 12vw;
}

/* SEZIONE ULTIMI PRODOTTI */

.card-custom{
    color: rgb(168, 168, 168);
}

.img-card-custom{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    aspect-ratio: 1/0.6;
}

.btn-card{
    margin-top: 5vh;
    padding: 5px 20px;
    background-color: var(--color-s);
    color: var(--color-a);
    border: 2px solid var(--color-a);
    box-shadow: 1px 1px 20px var(--color-sn), 5px 5px 30px var(--color-s), -1px -1px 10px var(--color-a), -5px -5px 10px var(--color-s);
}

/* SEZIONE REVIEWS */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    aspect-ratio: 1;
    max-width: 100%;
}

.box-review{
    height: 100%;
    background-color: var(--color-s);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.img-review{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-a);
    padding: 5px;
}

.round-slide{
    border-radius: 20px;
    overflow: hidden;
}


/* FOOTER */

.btnfooter {
    background-color: var(--color-s); ;
}

/* WALLET -------------------------- */ 

.titleFilters {
    margin-top: 20vh;
    margin-bottom: 1vh;
}

.titleProducts {
    margin-top: 20vh;
    margin-bottom: 1vh;
}

.box-filters{
    padding: 30px;
    background-color: var(--color-ao);
    border-radius: 10px;
    position: sticky;
    top: 50px;
}